.sidebar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #050a30;
  color: #fff;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 999999;
}

.sidebar.expanded {
  width: 15rem;
}

.logoo img {
  width: 50%;
  height: auto;
  margin-left: 1.25rem;
  transition: margin-left 0.3s ease;
}

.sidebar.expanded .logoo img {
  margin-left: 3rem;
}

.menu {
  border-top: 1px solid #cccccc59;
  padding: 0 20px;
  margin-top: 40px;
  width: 100%;
}

.menu-item {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item .icon {
  margin-right: 0;
  transition: margin-right 0.3s ease;
}

.sidebar.expanded .menu-item .icon {
  margin-right: 20px;
}

.menu-item:hover .icon {
  color: #FDB913;
  transition: 0.3s ease-in-out;
}

.menu-item.active {
  background-color: #fdda13;
  color: #05253a;
  transform: scale(1.03);
  padding-left: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.562);
}

.menu-item.active .icon {
  color: #05253a;
}

.menu-item-text {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar.expanded .menu-item-text {
  opacity: 1;
}

.menu-item:hover,
.menu-item:hover .menu-item-text {
  color: #FDB913;
  transform: scale(1.03);
}

.active {
  color: #9b9ba3;
}

.menu-abs {
  position: absolute !important;
  bottom: 0 !important;
  cursor: pointer;
}

.margin-icon1 {
  margin-right: 15px;
  font-size: 10px;
}
