.body {
    height: fit-content;
    max-width: 82.2vw;
    padding: 0 2rem;
}

.mian-chart {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    /* Adjust the values to control the shadow */
}

/* card */
.card-hover {
    perspective: 500px;
}

.card {
    width: auto;
    height: auto;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.card:hover {
    transform: translateZ(5px) rotateX(10deg) rotateY(10deg);
}
.card:hover .card_title {
    transform: translateZ(6px);
}