.header {
  /* background-color: #064168; */
  background-color:#050A30;
  color: white;
  padding: 20px;
  width: 87%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix position at the top */
  top: 0; /* Position at the top of the viewport */
  z-index: 1000; /* Ensure it's above other content */
  transition: top 0.3s; /* Add smooth transition */
}
  
  .logo {
    font-size: 24px;
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  
  .notification-icon {
    width: 30px;
    
    cursor: pointer;
  }
  
  /* Styles for icons */
.icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 40px; /* Add spacing between icons */
  cursor: pointer; /* Add cursor pointer */
}

/* Hover effect */
.icon:hover {
  color: #f8f8f8; /* Change color on hover */
}

.separator {
  height: 30px; /* Length of the separator */
  width: 1px; /* Thickness of the separator */
  background-color: rgba(255, 255, 255, 0.5); /* Less transparent white */
  margin-right: 20px; /* Adjust spacing between separator and icons */
}
.profile-icon {

  margin-right: 60px; /* Adjust the margin to move the profile icon to the left */
  cursor: pointer;
}
/* Add margin to the content to avoid overlapping with the fixed header */
.content {
  margin-top: 6rem; /* Adjust according to the height of the header */
}

/* Add styles for the dropdown menu container */
/* Add styles for the dropdown menu container */
.dropdown-menu {
  position: absolute;
  top: 80%;
  width: 10%; /* Adjust width as needed */
  background-color: #5050a3; /* Background color for the dropdown menu */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  left: 90%; /* Adjust position to the left side */
  padding-left: 15px;
}



/* Add styles for the dropdown menu items */
.dropdown-content {
  padding: 8px;
}

.dropdown-item {
  padding: 8px 0;
  cursor: pointer;
}