.header {
    background-color: #064168; /* Nice blue color */
    color: white;
    padding: 20px;
    display: flex;
    width: 100%;
    height:6rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .profile-icon,
  .notification-icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
  }
  